// Variables
// Reset
*,
*::after,
*::before {
  box-sizing: border-box;
  // overflow-x: hidden;
  // font-size: 12px;
}

// Body
body {
  font-family: "DM Sans", sans-serif;
  // font-size: 24px;
}

// Img
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   height: calc(100vh - 72px);
//   padding: 2.5rem;
//   overflow-y: auto;
// }
